{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}
                {% if view == 'cate' %}
                    Các bài viết về {{ cate.categories_name }}
                {% else %}
                    DHN Blog
                {% endif %}
            {% endblock %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/bloglogo.png' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/home/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/post/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">DHN Blog</a>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
                <!-- Side widgets-->
                <div class="col-lg-4 mt-5">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Tìm kiếm</div>
                        <div class="card-body">
                            <form method="get" action="{% url 'home' %}">
                                <div class="input-group">
                                    <input name="search" class="form-control" type="text" placeholder="Tìm kiếm bài viết..." aria-label="Enter search term..." aria-describedby="button-search" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Tìm kiếm!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Danh mục</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% for c in cate_list %}
                                        <li class="mb-4"><a href="{% url 'cate' c.categories_id %}">{{ c.categories_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; DHN Blog 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
