{% extends 'base.html' %}

{% if view == 'cate' %}
{% block title %} Các bài viết về {{ cate.categories_name }}{% endblock %}
{% endif %}

{% block content %}
<!-- Page header with logo and tagline-->
{% if posts.number == 1 %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Chào mừng đến với DHN Blog!</h1>
        </div>
    </div>
</header>
{% endif %}
<div class="col-lg-8 mt-5">
        <!-- Featured blog post-->

        {% if posts %}
        {% if search is None %}
        {% if view != 'cate' %}
        {% if posts.number == 1 %}
        <p class="fw-bolder">Bài viết mới nhất</p>
        <div class="card mb-4">
            <a href="{% url 'detail' posts_new.id %}"><img class="card-img-top" src="{{ posts_new.image }}" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{ posts_new.time }}</div>
                <h2 class="card-title">{{ posts_new.title }}</h2>
                {{ short_text_new|safe }}
                <a class="btn btn-primary" href="{% url 'detail' posts_new.id %}">Read More →</a>
            </div>
        </div>
        {% endif %}
        {% endif %}


        <!-- Nested row for non-featured blog posts-->
        <p class="fw-bolder">Danh sách bài viết {% if cate %} về '{{ cate.categories_name }}'{% endif %}</p>
        <div class="row">
            {% for p in posts %}
            <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                    <a href="{% url 'detail' p.id %}"><img class="card-img-top img-test" src="{{ p.image }}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{ p.time }}</div>
                        <h2 class="card-title h4">{{ p.title }}</h2>
                        <a class="btn btn-primary" href="{% url 'detail' p.id %}">Read More →</a>
                    </div>
                </div>

            </div>

            {% endfor %}

        </div>
        {% else %}
        <div class="row">
            {% for p in posts %}
            <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                    <a href="{% url 'detail' p.id %}"><img class="card-img-top img-test" src="{{ p.image }}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{ p.time }}</div>
                        <h2 class="card-title h4">{{ p.title }}</h2>
                        <a class="btn btn-primary" href="{% url 'detail' p.id %}">Read More →</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <p class="fw-bolder">Không có bài viết nào</p>
        {% endif %}

        <!-- Pagination-->
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">&laquo;</a></li>
                {% endif %}

                {% if posts.number > 3 %}
                <li class="page-item"><a class="page-link" href="?page=1"><i>1</i></a></li>
                <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                    {% if i > posts.number|add:"-3" %}
                        {% if i < posts.number|add:"3" %}
                            {% if posts.number == i %}
                            <li class="page-item active" aria-current="page"><a class="page-link">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if posts.number < posts.paginator.num_pages|add:"-3" %}
                <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
                {% endif %}
                {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% endif %}

            </ul>
        </nav>
</div>
{% endblock %}