{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<!-- Page content-->

<div class="col-lg-8 mt-5">
            <!-- Post content-->

            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ post.time }}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ p.categories.categories_name }}</a>

                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image }}" alt="..." /></figure>
                <!-- Post content-->
                <div class="mb-5 text-content">
                    {{ post.content|safe }}
                </div>

            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4" method="post" action="">
                            {% csrf_token %}
                            <textarea name="comment-text" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            <label for="cmt-name">Tên của bạn:</label>
                            <input type="text" name="comment-name" id="cmt-name"/>

                            <label for="cmt-email">Email của bạn:</label>
                            <input type="email" name="comment-email" id="cmt-email" />
                            <br>
                            <input type="hidden" value="{{ request.path }}" name="next"/>
                            <input type="submit" value="Post Comment"/>
                        </form>

                        <!-- Comment with nested comments-->
                        {% for cmt in comment %}
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{ cmt.comment_user }} <span class="comment-time">{{ cmt.time }}</span></div>
                                {{ cmt.comment_content }}
                                <!-- Child comment 1-->
<!--                                        <div class="d-flex mt-4">-->
<!--                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                                            <div class="ms-3">-->
<!--                                                <div class="fw-bold">Commenter Name</div>-->
<!--                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.-->
<!--                                            </div>-->
<!--                                        </div>-->

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- End Comments section-->
        </div>

{% endblock %}
